#wpadminbar li#wp-admin-bar-admin-bar-likes-widget {
	width: 61px;
	overflow: hidden;
}
#wpadminbar iframe.admin-bar-likes-widget {
	width: 61px;
	height: 28px;
	min-height: 28px;
	border-width: 0px;
	position: absolute;
	top: 0;
}

div.jetpack-likes-widget-wrapper {
	width: 100%;
}

div.jetpack-likes-widget-wrapper .sd-link-color {
	font-size: 12px;
}

div.jetpack-likes-widget-wrapper.slim-likes-widget {
	width: 1px; /* initial default */
}

#likes-other-gravatars {
	display: none;
	position: absolute;
	padding: 10px;
	background-color: #000;
	border-width: 0;
	opacity: 0.88;
	filter: alpha(opacity=88);
	box-shadow: 0 0 10px black;
	min-width: 130px;
	z-index: 1000;
}

#likes-other-gravatars * {
	line-height: normal;
}

#likes-other-gravatars .likes-text {
	color: white;
	font-size: 14px;
	padding-bottom: 5px;
}

#likes-other-gravatars ul,
#likes-other-gravatars li {
	margin: 0;
	padding: 0;
	text-indent: 0;
	list-style-type: none;
}

#likes-other-gravatars li::before {
	content: "";
}

#likes-other-gravatars ul.wpl-avatars {
	overflow: auto;
	display: block;
	position: absolute;
	max-height: 190px;
}

#likes-other-gravatars ul.wpl-avatars li {
	width: 32px;
	height: 32px;
	float: left;
	margin: 0 5px 5px 0;
}

#likes-other-gravatars ul.wpl-avatars li a {
	margin: 0 2px 0 0;
	border-bottom: none !important;
	display: block;
}

#likes-other-gravatars ul.wpl-avatars li a img {
	background: none;
	border: none;
	margin: 0 !important;
	padding: 0 !important;
	position: static;
}


div.sd-box {
	border-top: 1px solid #ddd;
	border-top: 1px solid rgba(0,0,0,.13);
}

h3.sd-title {
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 3px 0;
	padding: 0;
	text-transform: none;
	letter-spacing: 0;
	line-height: 1;
	font-weight: bold;
	width: 15.625%; /* 100px / 640px */ float: left;
	position: static;
	background: none;
	border: none;
}

.rtl .sd-title {
	float: right;
	text-align: right;
}

.entry-content .post-likes-widget, .post-likes-widget,
.comment-likes-widget {
	margin: 0;
	border-width: 0;
}

.post-likes-widget-placeholder {
	margin: 0;
	border-width: 0;
}

.post-likes-widget-placeholder .button {
	margin: 0;
	padding: 0;
	display: inline-block;
	background: #efefef;
	background: -moz-linear-gradient(top, #f7f7f7 0%, #efefef 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#efefef));
	background: -webkit-linear-gradient(top, #f7f7f7 0%,#efefef 100%);
	background: -o-linear-gradient(top, #f7f7f7 0%,#efefef 100%);
	background: -ms-linear-gradient(top, #f7f7f7 0%,#efefef 100%);
	background: linear-gradient(top, #f7f7f7 0%,#efefef 100%);
	border-radius: 3px;
	border: 1px solid #ddd !important;
	box-shadow: inset 0 1px 0 #fff;
	color: #999;
	text-decoration: none;
	line-height: 1;
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
}

.post-likes-widget-placeholder .button span {
	padding: 1px 5px 1px 2px;
	display: block;
	opacity: .8;
	line-height: 1.5em;
	text-shadow: none;
}

.post-likes-widget-placeholder .button span:before {
	color: #97A8CC;
	font-family: "Noticons";
	content: '\f408';
	font-size: 16px;
	line-height: 0;
	text-shadow: 0 1px 0 #fff;
	position: relative;
	top: 3px;
}

.post-likes-widget-placeholder .loading {
	color: #999;
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.post-likes-widget {
	width: 82.125%;
	display: none;
	float: right;
}

.slim-likes-widget .post-likes-widget {
	width: auto;
	float: none;
}

/* Like Special cases (display on it's own) */

div.sharedaddy.sd-like-enabled .sd-like h3 {
	display: none;
}

div.sharedaddy.sd-like-enabled .sd-like .post-likes-widget {
	width: 100%;
	float: none;
}

div.sharedaddy.sd-rating-enabled .sd-like .post-likes-widget, div.sharedaddy.sd-sharing-enabled .sd-like .post-likes-widget {
	width: 82.125%;
	float: right;
}

div.sharedaddy.sd-rating-enabled .sd-like h3, div.sharedaddy.sd-sharing-enabled .sd-like h3 {
	display: block;
}

.comment-likes-widget {
	width: 100%;
}
#bit, #bit * {
	*zoom: 1;
}

#bit {
	font: normal 13px "Helvetica Neue", sans-serif;
	_display: none;
}

.loggedout-follow-shelf {
	position: fixed;
	right: 40%;
	z-index: 999999;
	bottom: -300px;
}

.loggedout-follow-normal {
	position: fixed;
	z-index: 999999;
	bottom: -300px;
	right: 10px;
}

.loggedout-follow-typekit {
	margin-right: 4.5em;
	position: fixed;
	z-index: 999999;
	bottom: -300px;
	right: 10px;
}

#bit a.bsub {
	display: block;
	overflow: hidden;
	padding: 0 10px 0 8px;
	float: right;
	text-decoration: none !important;
	line-height: 28px;
	font: normal 13px/28px "Helvetica Neue", sans-serif;
	color: #CCC;
	text-shadow: #444 0px -1px 0px;
	letter-spacing: normal;
	border: 0;
	
	background-color: #464646;
	background-image: -ms-linear-gradient(bottom, #464646, #3f3f3f 5px);
	background-image: -moz-linear-gradient(bottom, #3f3f3f, #464646 5px);
	background-image: -o-linear-gradient(bottom, #464646, #3f3f3f 5px);
	background-image: -webkit-gradient(linear, left bottom, left top, from(#464646), to(#3f3f3f));
	background-image: -webkit-linear-gradient(bottom, #3f3f3f, #464646 5px);
	background-image: linear-gradient(bottom, #464646, #3f3f3f 5px);
	
	-webkit-box-shadow: 0 -1px 5px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 -1px 5px rgba(0,0,0,0.20);
	-o-box-shadow: 0 -1px 5px rgba(0,0,0,0.20);
	-ms-box-shadow: 0 -1px 5px rgba(0,0,0,0.20);
	box-shadow: 0 -1px 5px rgba(0,0,0,0.20);
	
	outline-style: none;
	outline-width: 0;
}

#bit a.bsub {
	-moz-border-radius: 2px 2px 0 0; 
	-webkit-border-radius: 2px 2px 0 0;
	-o-border-radius: 2px 2px 0 0; 
	-ms-border-radius: 2px 2px 0 0; 
	border-radius: 2px 2px0 0 0;
}

#bit a.bsub span { 
	background: url(/wp-content/blog-plugins/loggedout-follow/../../mu-plugins/admin-bar/wpcom-admin-bar-icons.png) 0 -77px no-repeat;
	padding-left: 19px;
}

#bit a:hover span, #bit a.bsub.open span {
	color: #ffffff !important;
	background-position: 0 -117px;
}

#bit a.bsub.open { 
	background: #333;
}

#bitsubscribe {
	background: #464646;
	color: #fff;
	padding: 15px; 
	width: 200px;
	margin-top: 27px;
	-moz-border-radius: 2px 0 0 0; 
	-webkit-border-radius: 2px 0 0 0;
	-o-border-radius: 2px 0 0 0; 
	-ms-border-radius: 2px 0 0 0; 
	border-radius: 2px 0 0 0;
	*float: right;
	*margin-right: -68px;
}

div#bitsubscribe.open { 
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 8px rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 8px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 0 8px rgba(0,0,0,0.5);
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

#bitsubscribe div {
	overflow: hidden;
}

#bit h3, #bit #bitsubscribe h3 {
	margin: 0 0 .5em 0 !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	text-shadow: 0 1px 0 #333;
	font-size: 20px;
	color: #fff;
	text-align: left;
}

#bit #bitsubscribe p {
	margin: 0 0 1em 0;
	*margin: 0 0 0 0;
	font: 15px/1.3em "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	text-shadow: 0 1px 0 #333;
	color: #fff;
}

#bitsubscribe p a {
	margin: 20px 0 0;
	color: #fff;
	text-decoration: underline;
}

#bit #bitsubscribe p.bit-follow-count { 
	font-size: 13px;
}

#bitsubscribe input[type=submit] {
	padding: 2px 20px;
	background: #333; /* Old browsers */
	background: -moz-linear-gradient(top, #333 0%, #111 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333), color-stop(100%,#111)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #333 0%,#111 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #333 0%,#111 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #333 0%,#111 100%); /* IE10+ */
	background: linear-gradient(top, #333 0%,#111 100%);
	color: #ccc;
	text-shadow: 0 1px 0 #000;
	border: 1px solid #282828;
	-moz-border-radius: 11px; 
	-webkit-border-radius: 11px; 
	border-radius: 11px;
	-moz-box-shadow: inset 0 1px 0 #444;
	-webkit-box-shadow: inset 0 1px 0 #444;
	box-shadow: inset 0 1px 0 #444;
	text-decoration: none;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	*margin: 1em 0 1em 0;
}

#bitsubscribe input[type=submit]:hover {
	background: #222; /* Old browsers */
	background: -moz-linear-gradient(top, #333 0%, #222 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333), color-stop(100%,#222)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #333 0%,#222 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #333 0%,#222 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #333 0%,#222 100%); /* IE10+ */
	background: linear-gradient(top, #333 0%,#222 100%);
	color: #fff;
	-moz-box-shadow: inset 0 1px 0 #4f4f4f;
	-webkit-box-shadow: inset 0 1px 0 #4f4f4f;
	box-shadow: inset 0 1px 0 #4f4f4f;
	text-decoration: none;
}

#bitsubscribe input[type=submit]:active {
	background: #111; /* Old browsers */
	background: -moz-linear-gradient(top, #111 0%, #222 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#111), color-stop(100%,#222)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #111 0%,#222 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #111 0%,#222 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #111 0%,#222 100%); /* IE10+ */
	background: linear-gradient(top, #111 0%,#222 100%);
	color: #aaa;
	-moz-box-shadow: inset 0 -1px 0 #333;
	-webkit-box-shadow: inset 0 -1px 0 #333;
	box-shadow: inset 0 -1px 0 #333;
	text-decoration: none;
}

#bitsubscribe input[type=text] {
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	-o-border-radius: 3px; 
	-ms-border-radius: 3px; 
	border-radius: 3px;
	font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
}
#bitsubscribe input[type=text]:focus {
	border: 1px solid #000;
}

#bitsubscribe.open {
	display: block;
}

#bsub-subscribe-button {
	text-align: center;
	margin: 0 auto;
}

/* 
Confirmation 
=============================== */

#bitsubscribe #lof-readerpromo p { 
	color: #ccc;
}

#bitsubscribe #lof-followpublicize { 
	border-top: 1px solid #3c3c3c;
	margin-bottom: .5em;
}

#bitsubscribe #lof-followpublicize h3 { 
	font-size: 13px;
	padding-top: 1em;
	margin-bottom: 1em !important;
}

#bitsubscribe #lof-followpublicize p.lof-followpublicize-twitter,
#bitsubscribe #lof-followpublicize p.lof-followpublicize-facebook {
	background: #555;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	-o-border-radius: 3px; 
	-ms-border-radius: 3px; 
	border-radius: 3px;
	-moz-box-shadow: inset 0 1px 1px #333;
	-webkit-box-shadow: inset 0 1px 1px #333;
	-o-box-shadow: inset 0 1px 1px #333;
	-ms-box-shadow: inset 0 1px 1px #333;
	box-shadow: inset 0 1px 1px #333;
	margin-bottom: .5em;
	overflow: hidden;
}
#bitsubscribe #lof-followpublicize p.lof-followpublicize-twitter { 
	padding: 10px 10px 5px;
}

/* 
Footer 
=============================== */

#bitsubscribe #bsub-credit { 
	text-align: center;
	font: normal 11px "Helvetica Neue", sans-serif;
	padding: 7px 0;
	margin:0 0 -15px;
	border-top: 1px solid #3c3c3c;
}

#bitsubscribe #bsub-credit a {
	color: #aaa;
	text-shadow: 0 1px 0 #262626;
	background: none;
	text-decoration: none;
}

#bitsubscribe #bsub-credit a:hover {
	color: #fff;
	background: none;
}

@media (max-width: 800px) {
	#bit, #bit a.bsub {
		display:none;	
	}
}

@media ( device-width: 768px ) {
	#bit, #bit a.bsub {
		display: block;
	}
}/* =Resets
-------------------------------------------------------------- */

div.sharedaddy ul,
div.sharedaddy li {
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
	background: none;
}

div.sharedaddy,
#content div.sharedaddy,
#main div.sharedaddy {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	clear: both;
	text-align: left;
}

div.sharedaddy,
div.sharedaddy div {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

div.sharedaddy h3,
#content div.sharedaddy h3,
#main div.sharedaddy h3,
#primary div.sharedaddy h3 {
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 3px 0;
	padding: 0;
	text-transform: none;
	letter-spacing: 0;
	line-height: 1;
	font-weight: bold;
	width: 15.625%; /* 100px / 640px */ float: left;
	position: static;
	background: none;
	border: none;
}

.rtl div.sharedaddy h3,
.rtl #content div.sharedaddy h3,
.rtl #main div.sharedaddy h3,
.rtl #primary div.sharedaddy h3 {
	float: right;
	text-align: right;
}

div.sharedaddy ul,
div.sharedaddy li {
	margin: 0 !important;
	padding: 0 !important;
	text-indent: 0;
}

div.sharedaddy li::before {
	content: "";
}

div.sharedaddy div.pd-rating {
	margin: 0;
	min-height: 23px;
}

div.sharedaddy a,
div.sharedaddy a:link,
div.sharedaddy a:visited {
	font-style: normal;
}

/* ClearFix trick */

div.sharedaddy:before,
div.sharedaddy:after,
div.sharedaddy .sd-block:before,
div.sharedaddy .sd-block:after,
div.sharedaddy ul:before,
div.sharedaddy ul:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}

div.sharedaddy:after,
div.sharedaddy .sd-block:after,
div.sharedaddy ul:after {
	clear: both;
}

div.sharedaddy,
div.sharedaddy .sd-block,
div.sharedaddy ul {
	zoom: 1;
}


/* =Base Styles
-------------------------------------------------------------- */

div.sharedaddy div.sd-block {
	border-top: 1px solid #ddd;
	border-top: 1px solid rgba(0,0,0,.13);
	padding: 10px 0 5px;
	margin: 0;
	width: 100%;
}

div.sharedaddy.sharedaddy-dark .sd-block {
	border-top-color: #222;
	border-top-color: rgba(50,50,50,.5);
}

div.sharedaddy .sd-content {
	width: 82.125%; /* 530px / 640px */
	float: right;
	margin: -2px 0 0 0;
}

div.sharedaddy .sd-content ul {
	margin: 0;
}

div.sharedaddy .sd-content li {
	float: left;
	margin: 0 5px 5px 0 !important;
	display: block;
}

.rtl div.sharedaddy .sd-content {
	float: right;
}

.rtl div.sharedaddy .sd-content li {
	float: right;
	margin: 0 0 5px 5px !important;
}

/* Base Button .sd-button */

div.sharedaddy a.sd-button {
	margin: 0;
	padding: 0;
	display: inline-block;
	background: #efefef;
	background: -moz-linear-gradient(top, #f7f7f7 0%, #efefef 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#efefef));
	background: -webkit-linear-gradient(top, #f7f7f7 0%,#efefef 100%);
	background: -o-linear-gradient(top, #f7f7f7 0%,#efefef 100%);
	background: -ms-linear-gradient(top, #f7f7f7 0%,#efefef 100%);
	background: linear-gradient(top, #f7f7f7 0%,#efefef 100%);
	border-radius: 3px;
	border: 1px solid #ddd !important;
	box-shadow: inset 0 1px 0 #fff;
	color: #000 !important;
	text-decoration: none;
	line-height: 1;
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
}

div.sharedaddy a.sd-button:hover {
	color: #000;
	text-shadow: 0 1px 0 #fff;
	border-color: #ccc;
	background: #eee;
	background: -moz-linear-gradient(top, #efefef 0%, #eee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#eee));
	background: -webkit-linear-gradient(top, #efefef 0%,#eee 100%);
	background: -o-linear-gradient(top, #efefef 0%,#eee 100%);
	background: -ms-linear-gradient(top, #efefef 0%,#eee 100%);
	background: linear-gradient(top, #efefef 0%,#eee 100%);
}

div.sharedaddy a.sd-button:active {
	background-color: #efefef;
	box-shadow: inset 0 -1px 0 #fff;
	border-color: #ddd;
}

a.sd-button > span {
	padding: 4px 8px;
	display: block;
	opacity: .8;
	line-height: 1.5em;
	text-shadow: none;
}

a.sd-button:hover span {
	opacity: 1;
}

.sd-button span.share-count {
	font-size: 90%;
	color: #666;
	margin-left: 5px;
	line-height: 1;
}

.rtl .sd-button span.share-count {
	margin-right: 5px;
}

/* Button Style Options */

.sd-social-icon-text a.sd-button > span,
a.sd-button > span {
	padding: 1px 5px 1px 23px;
	background-position: 2px center;
	background-repeat: no-repeat;
}

.sd-social-icon a.sd-button > span {
	padding: 3px;
	width: 16px;
	height: 16px;
	text-indent: -9999px;
	background-position: center center;
	background-repeat: no-repeat;
}

.sd-social-text a.sd-button > span {
	background: none !important;
	padding-left: 5px
}

.sd-social-official li {
	height: 21px;
}

div.sharedaddy .no-text {
	width: 21px;
	height: 21px;
}

div.sharedaddy .no-text a {
	text-decoration: none;
}

div.sharedaddy .no-icon a span, div.sharedaddy li.no-icon div a span {
	padding-left: 5px;
	background-image: none;
}

.rtl .sd-social-icon-text a.sd-button > span,
.rtl a.sd-button > span {
	padding: 3px 23px 3px 5px;
	background-position: 98% center;
}

.rtl .sd-social-text a.sd-button > span {
	padding-left: 0;
	padding-right: 5px
}

.rtl div.sharedaddy .no-icon a span, .rtl div.sharedaddy li.no-icon div a span {
	padding-left: 0;
	padding-right: 5px
}


/* Sharedaddy Module in /sharing/sharing.css */

/* Ratings Alignment
-------------------------------------------------------------- */
div.sharedaddy .sd-rating .pd-rating {
	width: 82.125%; /* 530px / 640px */
	float: right;
	margin: 0;
}


/* =Like Module
-------------------------------------------------------------- */

div.sharedaddy .wpl-likebox,
#main div.sharedaddy .wpl-likebox,
#content div.sharedaddy .wpl-likebox {
	margin-right: 0 !important;
	margin-left: 0 !important;
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.wpl-likebox .sd-content {
	margin: -2px 0 0 0;
}

div.sharedaddy .wpl-button {
	float: left;
	margin: 0 5px 0 0;
}

div.sharedaddy .wpl-count {
	line-height: 1;
	padding: 5px;
	text-align: left;
	margin: 0;
	font-size: 12px;
}

div.sharedaddy ul.wpl-avatars,
.wpl-likebox {
	margin: 0 -2px 0 0 !important;
	padding-top: 8px !important;
	overflow: hidden;
}

div.sharedaddy ul.wpl-avatars li {
	width: 32px;
	height: 32px;
}

div.sharedaddy ul.wpl-avatars li a {
	margin: 0 2px 0 0;
	border-bottom: none !important;
	display: block;
}

div.sharedaddy ul.wpl-avatars li a img {
	background: none;
	border: none;
	margin: 0 !important;
	padding: 0 !important;
	position: static;
}

div.sharedaddy .wpl-button a.sd-button span {
	padding: 1px 5px 1px 2px;
	text-shadow: none;
}

div.sharedaddy .wpl-button a.sd-button span:before {
	color: #2EA2CC;
	font-family: "Noticons";
	content: '\f408';
	font-size: 16px;
	line-height: 0;
	text-shadow: 0 1px 0 #fff;
	position: relative;
	top: 3px;
}

div.sharedaddy .wpl-button a.sd-button.liked {
	background: #FEFFCE;
	border: 1px solid #F3E389;
	box-shadow: inset 0 1px 0 #fff;
	cursor: default;
}

div.sharedaddy .wpl-button a.sd-button.liked span {
	opacity: 1;
}

.rtl div.sharedaddy .wpl-button {
	float: right;
	margin: 0 0 0 5px;
}

.rtl div.sharedaddy #wpl-count {
	text-align: right;
}

.rtl div.sharedaddy ul.wpl-avatars,
.rtl .wpl-likebox {
	margin: 0 0 0 -2px !important;
}

.rtl div.sharedaddy .wpl-button a.sd-button span {
	padding: 3px 5px;
	background-position: right center;
}

#wpl-mustlogin {
	width: 80%;
	max-width: 312px;
	padding: 15px;
	position: absolute;
	z-index: 1001;
	text-shadow: none;
	background-color: #fff;
	color: #333;
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0px 2px 8px #ccc;
	-webkit-box-shadow: 0px 2px 8px #ccc;
	box-shadow: 0px 2px 8px #ccc;
	-webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, .2);
	box-shadow: 0px 2px 8px rgba(0, 0, 0, .2);
}

#wpl-mustlogin p {
	margin: 0;
	text-shadow: none;
	color: #333;
}

#wpl-mustlogin label, #wpl-mustlogin a {
	text-shadow: none;
	color: #333;
}

#wpl-mustlogin input[type="text"],
#wpl-mustlogin input[type="password"] {
	width: 98.5%;
	text-shadow: none;
	border: 1px solid #ccc;
	background: #fff;
	color: #333;
}

#wpl-mustlogin {
	line-height: 14px !important;
	font-size: 11px;
	clear: left;
	margin-top: 5px;
	background: #f0f0f0;
	padding: 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#wpl-mustlogin a {
	color: #888;
	text-decoration: underline;
}

#wpl-mustlogin p {
	margin: 5px 0;
	padding: 0
}

#wpl-mustlogin input.input {
	padding: 2px;
	background: #fff;
	font-size: 11px;
	font-family: inherit;
	border: 1px solid #ccc;
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
	line-height: 12px;
}

#wpl-mustlogin input#wp-submit {
	border: 1px solid #ccc;
	font-size: 11px;
	background: #fafafa repeat-x;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 2px 4px !important;
	line-height: 12px;
}

#wpl-mustlogin label {
	position: relative;
	cursor: text;
}

#wpl-mustlogin label span {
	position: absolute;
	top: 0px;
	left: 5px;
	padding: 0 !important;
}

.rtl #wpl-mustlogin {
	margin-left: 0;
	margin-right: -120px;
}

.rtl #wpl-mustlogin {
	clear: right
}

.rtl #wpl-mustlogin label span {
	left: auto;
	right: 5px
}

/* Like Special cases (display on it's own) */

div.sharedaddy.sd-like-enabled .sd-like h3 {
	display: none;
}

div.sharedaddy.sd-like-enabled .sd-like div.sd-content {
	width: 100%;
	float: none;
}

div.sharedaddy.sd-rating-enabled .sd-like h3 {
	display: block;
}

div.sharedaddy.sd-rating-enabled .sd-like div.sd-content {
	width: 82.125%; /* 530px / 640px */
	float: right;
}

div.sharedaddy.sd-sharing-enabled .sd-like h3 {
	display: block;
}

div.sharedaddy.sd-sharing-enabled .sd-like div.sd-content {
	width: 82.125%; /* 530px / 640px */
	float: right;
}

.rtl div.sharedaddy.sd-rating-enabled .sd-like div.sd-content {
	float: left
}

.rtl div.sharedaddy.sd-sharing-enabled .sd-like div.sd-content {
	float: left
}

/* =Theme-specific fixes
-------------------------------------------------------------- */

/* Shelf */

div.sharedaddy .wpl-likebox {
	position: static !important;
	bottom: auto !important;
}
/**
Theme Name: Retro-fitted
Theme URI: http://themehybrid.com/themes/retro-fitted
Description: Subtle textures are mixed with clean lines and shadows to create a beautifully balanced composition perfect for all types of blogs.
Version: 0.2-wpcom
Author: Justin Tadlock
Author URI: http://justintadlock.com
Tags: education, school, blog, journal, retro, textured, traditional, pink, tan, red, blue, light, one-column, two-columns, right-sidebar, fixed-width, custom-background, custom-header, custom-menu, rtl-language-support, sticky-post, translation-ready
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html

Copyright (c) 2011 Justin Tadlock.  All rights reserved.
http://justintadlock.com
*/


@font-face {
    font-family: 'BevanRegular';
    src: url(/wp-content/themes/pub/retro-fitted/fonts/Bevan-webfont.eot);
    src: url(/wp-content/themes/pub/retro-fitted/fonts/Bevan-webfont.eot?#iefix) format('embedded-opentype'),
         url(/wp-content/themes/pub/retro-fitted/fonts/Bevan-webfont.woff) format('woff'),
         url(/wp-content/themes/pub/retro-fitted/fonts/Bevan-webfont.ttf) format('truetype'),
         url(/wp-content/themes/pub/retro-fitted/fonts/Bevan-webfont.svg#BevanRegular) format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
	margin: 0;
	padding: 0;
}
a,
a code {
	color: #04648d;
}
a:hover {
	cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	color: #555;
	font-family: BevanRegular, Georgia, Times, 'Times New Roman', serif;
	font-weight: normal;
}
h2 {
	font-size: 22px;
	line-height: 1.7;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 14px;
}
article,
aside {
	display: block;
}
address,
article,
aside,
blockquote,
dl,
fieldset,
form,
ol,
p,
pre,
table,
ul,
.embed {
	font-size: 1em;
	line-height: 1.5em;
	margin: 1.5em 0;
	padding: 0;
}
blockquote,
fieldset,
pre {
	text-align: left;
	padding: 1em;
	background-color: #fff;
}


/* =Lists
-------------------------------------------------------------- */

ul {
	list-style-type: square;
}
ol,
ul {
	padding: 0 0 0 3em;
}
ol ol,
ol ul,
ul ol,
ul ul {
	padding-left: 1.5em;
	margin: 0;
}
dl {
	margin: 0 0 25px 0;
}
dt {
	color: #444;
	font: normal normal bold 15px/25px Arial, Verdana, sans-serif;
	margin: 0;
	padding: 0;
}
dd {
	color: #666;
	font-size: 14px;
	margin: 0 0 .5em 1.5em;
	padding: 0;
}
blockquote {
	background: #e4eef3 url(/wp-content/themes/pub/retro-fitted/images/quotes.png) no-repeat 15px 15px;
	border: 1px dotted #5fadce;
	color: #01435f;
	font: normal normal bold 13px/25px Arial, Verdana, sans-serif;
	margin: 0 0 25px 0;
	padding: 10px 25px 10px 85px;
}
blockquote blockquote {
	background: #f9e2db url(/wp-content/themes/pub/retro-fitted/images/quotes-alt.png) no-repeat 15px 15px;
	border: 1px dotted #5b1601;
	color: #5b1601;
}
blockquote blockquote blockquote {
	background: #f4f9d1 url(/wp-content/themes/pub/retro-fitted/images/quotes-alt-alt.png) no-repeat 15px 15px;
	border: 1px dotted #343b00;
	color: #343b00;
}
blockquote a {
	text-decoration: underline;
}
blockquote a:hover {
	text-decoration: none;
}
hr {
	background: #04648d;
	height: 1px;
}
table {
	background: #fff;
	border-right: 1px solid #88c7e2;
	border-left: 1px solid #88c7e2;
	border-collapse: collapse;
	margin: 0 0 25px 0;
	width: 100%;
}
table caption {
	color: #ce3000;
	font: normal normal normal 13px/25px Arial, Verdana, sans-serif;
}
table th {
	background: #04648d;
	border-top: 1px solid #88c7e2;
	border-right: 1px solid #88c7e2;
	border-bottom: 1px solid #88c7e2;
	color: #fff;
	font: normal normal bold 13px/25px Arial, Verdana, sans-serif;
	padding: 4px 2%;
	text-align: left;
}
td {
	background: #e4eef3;
	border-right: 1px solid #88c7e2;
	border-bottom: 1px solid #88c7e2;
	color: #01435f;
	padding: 4px 2%;
}
table a {
	text-decoration: underline;
}
acronym,
abbr {
	border-bottom: 1px dotted #555;
}
code {
	color: #ce3000;
}
pre {
	background: #f9e2db;
	border: 1px dotted #5b1601;
	color: #5b1601;
	padding: 20px;
}
pre code {
	color: #5b1601;
}
form label {
	color: #777;
	font: normal normal normal 13px/25px Arial, Verdana, sans-serif;
}
input[type="text"] {
	display: block;
	width: 50%;
}
input[type="submit"] {
	cursor: pointer;
}
textarea {
	width: 98.5%;
}


/* =Site Title
-------------------------------------------------- */

#site-title {
	font: normal normal normal 33px/33px BevanRegular, Georgia, Times, 'Times New Roman', serif;
	letter-spacing: 1px;
	margin: 0 0 5px 0;
	position: relative;
	z-index: 99;
}
#site-title a {
	color: #04648d;
	text-decoration: none;
}
#site-description {
	color: #ce3000;
	font: italic normal normal 15px/25px Georgia, Times, 'Times New Roman', serif;
	margin: 0;
	position: relative;
	z-index: 99;
}


/* =Images
-------------------------------------------------- */

.hentry img {
	border: none;
	height: auto;
	max-width: 100%;
}
.thumbnail {
	background: #f2ede2;
	border: 1px solid #d8d1c3;
	float: left;
	margin: 0 15px 5px 0;
	padding: 4px;
	width: 125px;
}
.size-thumbnail {
	margin: 0 15px 15px 0;
}
img.wp-smiley {
	background: transparent;
	border: none;
	max-width: 12px;
	padding: 0;
}
div.wp-caption {
	background: #f2ede2;
	border: 1px dotted #d8d1c3;
	border-bottom: 1px solid #bbb;
	max-width: 96%;
	overflow: hidden;
	padding: 2%;
	text-align: center;
}
div.wp-caption.aligncenter,
div.wp-caption.alignleft,
div.wp-caption.alignright,
div.wp-caption.alignnone {
	margin-bottom: 1.5em;
}
.wp-caption img {
	background: #eee;
	border: 1px solid #bbb;
	height: auto;
	margin: 0 0 5px 0;
	max-width: 96%;
	padding: 2px;
}
.wp-caption-text {
	color: #999;
	font: normal normal normal 12px/12px Arial, Verdana, sans-serif;
	margin: 0 4px;
}
#attachment-image {
	margin-top: 0;
}
#attachment-image img {
	border: none;
	display: block;
	height: auto;
	margin: 0 auto;
	max-width: 930px;
}
#image-caption {
	font-style: italic;
	margin: 1em 3em;
	text-align: center;
}
#image-description {
	margin: 1em 3em;
}
#image-template .entry-title {
	margin-bottom: 0;
	text-align: center;
}
#content .alignleft,
#content img.alignleft {
	display: inline;
	float: left;
	margin-top: 4px;
	margin-right: 24px;
}
#content .alignright,
#content img.alignright {
	display: inline;
	float: right;
	margin-top: 4px;
	margin-left: 24px;
}
#content .aligncenter,
#content img.aligncenter {
	clear: both;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
#content img.alignleft,
#content img.alignright,
#content img.aligncenter {
	margin-bottom: 12px;
}
#return-to-parent {
	clear: both;
	color: #999;
	display: block;
	font-family: Arial, Verdana, sans-serif;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 1em;
	text-align: center;
}
#return-to-parent a {
	font-style: italic;
	text-decoration: none;
}
#return-to-parent a:hover,
#return-to-parent a:active,
#return-to-parent a:focus {
	text-decoration: underline;
}


/* =Header
-------------------------------------------------- */

#header {
	border-bottom: 10px solid #ce3000;
	padding: 20px;
}
#header .wrap {
	margin: 0 auto;
	width: 1020px;
}


/* =Access
-------------------------------------------------- */

#access {
	clear: both;
	display: block;
	float: left;
	margin: 0 0 25px;
	width: 100%;
}
#access ul {
	float: left;
	line-height: 1.0;
	list-style: none;
	margin: 0;
	padding: 0;
}
#access li {
	background: transparent;
	-moz-box-shadow: 3px 5px 5px rgba( 0, 0, 0, 0.3 );
	-webkit-box-shadow: 3px 5px 5px rgba( 0, 0, 0, 0.3 );
	box-shadow: 3px 5px 5px rgba( 0, 0, 0, 0.3 );
	float: left;
	font: normal normal bold 13px/14px Arial, Verdana, sans-serif;
	margin: 0 15px 15px 0;
	padding: 0;
	position: relative;
}
/* Allow IE8 to show dropdowns above other menu items. */
#access li:hover {
	position: relative;
	z-index: 3000;
}
#access li li {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 0;
}
#access a {
	background: #04648d;
	color: #fff;
	display: block;
	line-height: 3.333em;
	padding: 0 1.2125em;
	text-decoration: none;
}
#access ul ul {
	-moz-box-shadow: 3px 5px 5px rgba( 0, 0, 0, 0.3 );
	-webkit-box-shadow: 3px 5px 5px rgba( 0, 0, 0, 0.3 );
	box-shadow: 3px 5px 5px rgba( 0, 0, 0, 0.3 );
	display: none;
	float: left;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 3.333em;
	left: 0;
	width: 188px;
	z-index: 99999;
}
#access ul ul ul {
	left: 100%;
	top: 0;
}
#access ul ul a {
	border-bottom: 1px dotted #0696d4;
	color: #fff;
	font-size: 13px;
	font-weight: normal;
	height: auto;
	line-height: 1.4em;
	padding: 10px 10px;
	width: 168px;
}
#access li:hover > a,
#access li li:hover > a,
#access ul ul :hover > a,
#access a:focus {
	background: #0583b9;
}
#access ul li:hover > ul {
	display: block;
}
#access .current-menu-item > a,
#access .current-menu-ancestor > a,
#access .current_page_item > a,
#access .current_page_ancestor > a,
#access .current-menu-item:hover > a,
#access .current-menu-ancestor:hover > a,
#access .current_page_item:hover > a,
#access .current_page_ancestor:hover > a
#access .current-menu-item > a:hover,
#access .current-menu-ancestor > a:hover,
#access .current_page_item > a:hover,
#access .current_page_ancestor > a:hover{
	background: #0583b9;
}


/* =Content
-------------------------------------------------- */

.hfeed {
	clear: both;
}
.hentry {
	background: #fefefe;
	border: 5px solid #e7e1d4;
	-moz-box-shadow: 3px 5px 5px rgba( 0, 0, 0, 0.3 );
	-webkit-box-shadow: 3px 5px 5px rgba( 0, 0, 0, 0.3 );
	box-shadow: 3px 5px 5px rgba( 0, 0, 0, 0.3 );
	margin: 0 0 25px 0;
	padding: 20px 20px 0 20px;
	position: relative;
}
.sticky {
	background: #faf7f0;
	border-left: 5px solid #04648d;
}
.entry-title {
	color: #04648d;
	font-family: BevanRegular, Georgia, Times, 'Times New Roman', serif;
	font-size: 22px;
	font-weight: normal;
	line-height:1.3em;
	margin: 0 0 5px 0;
}
.singular .entry-title,
.error-404 .entry-title {
	font-size: 25px;
	margin-bottom: 25px;
}
.entry-title a {
	color: #04648d;
	text-decoration: none;
}
.byline {
	color: #999;
	font: normal normal normal 12px/25px Arial, Verdana, sans-serif;
	margin: 0 0 5px 0;
}
.singular .byline {
	margin: 0 0 25px 0;
}
.byline a {
	border-bottom: 1px solid #d8d1c3;
	color: #666;
	text-decoration: none;
}
.byline a:hover {
	background: #f2ede2;
	border-bottom: 1px solid #ccc;
}
.byline abbr {
	border: none;
}
.entry-summary p {
	margin: 0 0 10px 0;
}
.search .entry-summary p {
	margin: 0 0 5px 0;
}
.entry-meta {
	clear: both;
	color: #999;
	font: normal normal normal 12px/25px Arial, Verdana, sans-serif;
	margin: 0 0 20px 0;
}
.entry-meta a {
	border-bottom: 1px solid #d8d1c3;
	color: #666;
	text-decoration: none;
}
.entry-meta a:hover {
	background: #f2ede2;
	border-bottom: 1px solid #ccc;
}
.entry-meta .permalink {
	border-bottom: none;
	color: #ce3000;
}
.post-password-required input[type=submit] {
	margin-top: 1em;
}
#error-404 #searchform input,
.search-results .loop-description #searchform input,
.search-no-results .loop-description #searchform input {
	display: inline;
}


/* =Loop elements
-------------------------------------------------- */

.loop-meta {
	background: #fefefe;
	border: 5px solid #e7e1d4;
	-moz-box-shadow: 3px 5px 5px rgba( 0, 0, 0, 0.3 );
	-webkit-box-shadow: 3px 5px 5px rgba( 0, 0, 0, 0.3 );
	box-shadow: 3px 5px 5px rgba( 0, 0, 0, 0.3 );
	clear: both;
	margin: 0 0 25px 0;
	overflow: hidden;
	padding: 20px 20px 0 20px;
}
.loop-title {
	font: normal normal normal 20px/25px BevanRegular, Georgia, Times, 'Times New Roman', serif;
	margin: 0 0 20px;
}
.loop-description {
	color: #999;
	font-size: 15px;
	font-style: italic;
}
.loop-description p {
	margin-bottom: 20px;
}
.loop-description em {
	font-style: normal;
}
.loop-description .avatar {
	background: #f2ede2;
	border: 1px solid #d8d1c3;
	float: right;
	margin: 0 0 10px 15px;
	padding: 4px;
	width: 60px;
	height: 60px;
}


/* =Paged Navigation
-------------------------------------------------- */

.entry-navigation {
	clear: both;
	font-size: 13px;
	font-weight: bold;
	line-height: 13px;
	margin: 0 0 25px 0;
	overflow: hidden;
}
.entry-navigation {
	padding: 7px 0 0 0;
}
.entry-navigation span {
	background: #0583b9;
	color: #fff;
	display: inline-block;
	font-weight: bold;
	margin: 0  0 0 7px;
	padding: 8px 12px;
	text-decoration: none;
}
.entry-navigation a span {
	background: #04648d;
}
.entry-navigation a:hover span {
	background: #ce3000;
}
.paged-navigation {
	font: normal normal bold 13px/14px Arial, Verdana, sans-serif;
	line-height: 13px;
	margin: 0 0 23px 0;
	overflow: hidden;
	padding: 0 5px 2px 10px;
}
.paged-navigation a {
	background: #04648d;
	-moz-box-shadow: 2px 2px 5px rgba( 0, 0, 0, 0.3 );
	-webkit-box-shadow: 2px 2px 5px rgba( 0, 0, 0, 0.3 );
	box-shadow: 2px 2px 5px rgba( 0, 0, 0, 0.3 );
	color: #fff;
	font-weight: bold;
	margin: 0;
	min-width: 5em;
	padding: 11px 15px;
	text-align: center;
	text-decoration: none;
}
.paged-navigation .nav-newer a {
	float: right;
}
.paged-navigation .nav-older a {
	float: left;
}
.paged-navigation a:hover span {
	background: #ce3000;
}
#sidebar-primary {
	font-size: 15px;
}


/* =Widgets
-------------------------------------------------- */

.widget {
	background: #fefefe;
	border: 5px solid #e7e1d4;
	-moz-box-shadow: 3px 5px 5px rgba( 0, 0, 0, 0.3 );
	-webkit-box-shadow: 3px 5px 5px rgba( 0, 0, 0, 0.3 );
	box-shadow: 3px 5px 5px rgba( 0, 0, 0, 0.3 );
	color: #666;
	margin: 0 0 25px 0;
	overflow: hidden;
	padding: 20px;
}
.widget-title {
	font-size: 16px;
	margin-top: 0;
}
.widget-title a {
	color: #666;
	text-decoration: none;
}
.widget-title a:hover,
.widget-title a:active,
.widget-title a:focus {
	color: #04648d;
	text-decoration: underline;
}
.widget img {
	border: none;
	height: auto;
	margin: 1em 0;
	max-width: 100%;
}
.widget .wp-caption {
	background: transparent;
	border: none;
	margin: 1em 0;
	padding: 0;
	text-align: center;
	width: 100%;
}
.widget .wp-caption p {
	text-align: center;
}
.widget .wp-caption img {
	background: transparent;
	border: none;
	margin: 0;
	padding:0;
}
.widget ol,
.widget ul {
	margin-bottom: 0;
	padding-left: 20px;
}
.widget ol a,
.widget ul a {
	text-decoration: none;
}
.widget_rss .widget-title img {
	background: red;
	float: left;
	margin: 0 .5em 0 0;
}
.widget_rss ul {
	list-style-type: none;
	padding: 0;
}
.widget_rss li {
	margin: 1em 0 0;
}
/* Calendar widget */
#wp-calendar a {
	color: #ce3000;
	font-family: Arial, Verdana, sans-serif;
	font-size: .9em;
	font-weight: bold;
	text-decoration: none;
}
#wp-calendar th,
#wp-calendar td {
	text-align: center;
}
#next a,
#prev a {
	color: #04648d;
	font-size: 1em;
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-weight: normal;
}
/* Search widget */
.widget_search {
	background: #ce3000;
	border: none !important;
	padding: 25px !important;
}
.widget_search .widget-title {
	color: #fefefe;
}
.widget_search form {
	overflow: hidden;
}
.widget_search input[type="text"] {
	background: #fff;
	border: none;
	color: #04648d;
	display: block;
	font-style: italic;
	font-size: 13px;
	width: 97%;
	padding: 5px 0 5px 0.7em;
}
.widget_search input[type="submit"],
.widget-search label {
	display: none;
}
.error404 .hentry .searchform {
	margin-bottom: 25px;
}


/* =Comment List
--------------------------------------- */

#comments-number {
	background: #fefefe;
	border: 5px solid #e7e1d4;
	-moz-box-shadow: 3px 5px 5px rgba( 0, 0, 0, 0.3 );
	-webkit-box-shadow: 3px 5px 5px rgba( 0, 0, 0, 0.3 );
	box-shadow: 3px 5px 5px rgba( 0, 0, 0, 0.3 );
	margin: 0 0 25px 0;
	padding: 20px;
}
/* Comment pagination */
.comments-nav {
	float: right;
	line-height: 29px;
	margin: -80px 25px 10px 0;
	position: relative;
}
.comments-nav .page-numbers {
	color: #777;
	font-size: 10px;
	text-transform: uppercase;
}
.comments-nav .prev,
.comments-nav .next {
	background: url(/wp-content/themes/pub/retro-fitted/images/comments-nav.png) 0 0 no-repeat;
	display: inline-block;
	margin: 0 0 0 10px;
	text-indent: -9999px;
	width: 29px;
	height: 29px;
}
.comments-nav .next {
	background-position: 0 -29px;
}
/* Comment list. */
.comment-list {
	padding:0;
}
.comment-list ol.children {
	list-style: none;
	margin: 0;
	padding-left: 3em;
}
.comment-list li.comment,
.comment-list li.pingback,
.comment-list li.trackback {
	background: #fefefe;
	border: 5px solid #e7e1d4;
	-moz-box-shadow: 3px 5px 5px rgba( 0, 0, 0, 0.3 );
	-webkit-box-shadow: 3px 5px 5px rgba( 0, 0, 0, 0.3 );
	box-shadow: 3px 5px 5px rgba( 0, 0, 0, 0.3 );
	color: #555;
	margin: 0 0 25px 0;
	overflow: hidden;
	padding: 20px 20px 0 20px;
}
.comment-list li li.comment {
	background: #faf7f0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.comment-list li li.comment,
.comment-list li li li li li li li.comment {
	border: 1px dotted #04648d;
	border-left: 5px solid #04648d;
}
.comment-list li li li.comment,
.comment-list li li li li li li li li.comment {
	border: 1px dotted #ce3000;
	border-left: 5px solid #ce3000;
}
.comment-list li li li li.comment,
.comment-list li li li li li li li li li.comment {
	border: 1px dotted #849219;
	border-left: 5px solid #849219;
}
.comment-list li li li li li.comment,
.comment-list li li li li li li li li li li.comment {
	border: 1px dotted #E1C40F;
	border-left: 5px solid #E1C40F;
}
.comment-list li li li li li li.comment,
.comment-list li li li li li li li li li li li.comment {
	border: 1px dotted #4D1D4D;
	border-left: 5px solid #4D1D4D;
}
.bypostauthor { }
.comment-list .avatar {
	background: #f2ede2;
	border: 2px solid #d8d1c3;
	float: left;
	margin: 0 15px 10px 0;
	padding: 2px;
	width: 46px;
	height: 46px;
}
.comment-meta {
	color: #999;
	font: normal normal normal 12px/25px Arial, Verdana, sans-serif;
	margin: 0 0 10px 0;
}
.comment-meta a {
	border-bottom: none;
	color: #666;
	text-decoration: none;
}
.comment-meta a:hover {
	background: #f2ede2;
	border-bottom: 1px solid #d8d1c3;
}
.comment-author {
	color: #666;
	font: normal normal bold 16px/25px Georgia, Times, 'Times New Roman', serif;
}
.comment-author .fn {
	font-style: normal;
}
.comment-author,
.comment-permalink,
.comment-reply-link,
.comment-edit-link {
	margin: 0 .2em;
}
a.comment-reply-link {
	border-bottom: none;
	color: #04648d;
	font-weight: bold;
}
a.comment-reply-link:hover {
	background: #ce3000;
	color: #fff;
}
/* Comment published date/time */
.comment-meta abbr {
	border: none;
}
a.comment-permalink {
	border-bottom: none;
	color: #999;
}
a.comment-permalink:hover {
	background-color: transparent;
}
.comment-text {
	clear: left;
}
.comments-closed {
	background: #fefefe;
	border: 5px solid #e7e1d4;
	-moz-box-shadow: 3px 5px 5px rgba( 0, 0, 0, 0.3 );
	-webkit-box-shadow: 3px 5px 5px rgba( 0, 0, 0, 0.3 );
	box-shadow: 3px 5px 5px rgba( 0, 0, 0, 0.3 );
	color: #999;
	margin: 0 0 25px 0;
	padding: 20px;
}


/* =Comment Form
--------------------------------------- */

#respond {
	background: #fefefe;
	border: 5px solid #e7e1d4;
	-moz-box-shadow: 3px 5px 5px rgba( 0, 0, 0, 0.3 );
	-webkit-box-shadow: 3px 5px 5px rgba( 0, 0, 0, 0.3 );
	box-shadow: 3px 5px 5px rgba( 0, 0, 0, 0.3 );
	color: #555;
	margin: 0 0 25px 0;
	overflow: hidden;
	padding: 20px 20px 0 20px;
}
.comment-list #respond {
	margin-top: 25px;
}
/* Logged-in text */
#respond .log-in-out {
	color: #777;
	font-size: 15px;
}
#respond .log-in-out a {
	font-style: italic;
}
/* Cancel reply link */
#reply-title {
	margin-top: 0;
}
#reply-title small a {
	font: italic normal normal 14px/25px Georgia, Times, 'Times New Roman', serif;
}
/* Comment form paragraphs */
#respond p.form-author {
	float: left;
	width: 50%;
}
#respond p.form-email {
	float: right;
	overflow: hidden;
	width: 50%;
}
#respond p.form-url {
	clear: both;
}
/* Comment form labels */
#respond label {
	color: #999;
	font: normal normal normal 13px/25px Arial, Verdana, sans-serif;
}
#respond p.form-email label {
	padding: 0 9px;
}
#respond span.required {
	color: #5b1601;
	font-size: 16px;
	font-weight: bold;
}
/* Comment form inputs and textarea elements */
#respond input[type="text"],
#respond textarea {
	background: #e4eef3;
	border: 1px dotted #04648d;
	border-left: 2px solid #04648d;
	color: #01435f;
	display: block;
	font: normal normal bold 15px/20px Arial, Verdana, sans-serif;
	width: 98.5%;
}
#respond p.form-author input[type="text"] {
	width: 90%;
}
#respond p.form-email input[type="text"],
#respond p.form-email label {
	float: right;
	width: 90%;
}
#respond p.req input[type="text"] {
	background: #f9e2db;
	border: 1px dotted #5b1601;
	border-left: 2px solid #5b1601;
	color: #5b1601;
}
/* Submit button */
#respond #submit {
	background: #04648d;
	border: none;
	color: #fff;
	float: right;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 25px;
	padding: 11px 15px;
}
#respond #submit:hover {
	background: #ce3000;
}


/* =Footer
--------------------------------------- */

#footer {
	border-top: 10px solid #ce3000;
	clear: both;
	color: #00648d;
	padding: 37px 0;
	text-align: center;
}
.credit {
	font-weight: bold;
}
.credit a {
	color: #00648d;
	text-decoration: none;
}


/* =Layouts and site structure
--------------------------------------- */

body {
	background: url(/wp-content/themes/pub/retro-fitted/images/pink-plaid-tile.png);
	color: #333;
	padding: 0;
}
/* Content and primary/secondary sidebar wrapper */
#main {
	background: url(/wp-content/themes/pub/retro-fitted/images/sandy-tile.jpg);
}
#main .wrap {
	margin: 0 auto;
	padding: 20px;
	width: 1020px;
}
/* One column layout */
.single-column #content {
	width: 980px;
}
/* Two columns, content left and default layouts */
.content-sidebar #content,
.layout-default #content {
	float: left;
	width: 670px;
}
.content-sidebar #sidebar-primary,
.layout-default #sidebar-primary {
	float: right;
	width: 325px;
}


/* =Contain Floats
--------------------------------------- */

.contain:before,
.contain:after {
	content: "\0020";
	display: block;
	height: 0;
	visibility: hidden;
}
.contain:after {
	clear: both;
}
.contain {
	zoom: 1;
}


/* =Assistive Text
--------------------------------------- */

.assistive-text,
.screen-reader-text {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}


/* =Gallery Shortcode
--------------------------------------- */

.gallery {
	clear: both;
	display: block;
	margin: 0 auto 1em;
	overflow: hidden;
}
.gallery img {
	margin-bottom: 0;
}
.gallery .gallery-item {
	margin-bottom: 5px;
}
.gallery-caption {
	color: #999;
	font: normal normal normal 11px/14px Arial, Verdana, sans-serif;
	text-align: center;
}
.gallery .gallery-row {
	clear: both;
	display: block;
	margin: 0
	overflow: hidden;
}
.gallery .gallery-item {
	float: left;
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	text-align: center;
}
.gallery .gallery-item .gallery-icon img {
	width: auto;
	max-width: 89%;
	height: auto;
	padding: 1%;
	margin: 0 auto:
}
.gallery-caption {
	margin-left: 0;
}
.gallery .col-0,
.gallery .col-1 {
	width: 100%;
}
.gallery .col-2 {
	width: 50%;
}
.gallery .col-3 {
	width: 33.33%;
}
.gallery .col-4 {
	width: 25%;
}
.gallery .col-5 {
	width: 20%
}
.gallery .col-6 {
	width: 16.66%;
}
.gallery .col-7 {
	width: 14.28%;
}
.gallery .col-8 {
	width: 12.5%
}
.gallery .col-9{
	width: 11.11%;
}


/* WP.com Specific Styles
--------------------------------------- */

#authors img {
	vertical-align: middle;
}
#authors ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#authors ul ul {
	list-style: square;
	padding: 0 0 0 2em;
}
.comment-likes {
	padding-bottom: 1em;
}
#flickr table,
#flickr th,
#flickr td {
	background-color: transparent;
	border-width: 0;
	margin: 0 auto;
	padding: 0;
}
.highlander-enabled #respond {
	background-color: #fff;
	border: 5px solid #e7e1d4;
	padding: .3em 1em 1em;
}
.milestone-widget .milestone-content {
	border-color: #e7e1d4;
	max-width: none;
}
.milestone-widget .milestone-header {
	background: #04648d;
	color: #fff;
}
.milestone-widget .date {
	font-style: italic;
}
.milestone-widget .difference {
	color: #04648d;
	padding-top: 20px;
}
.widget_recent_comments table {
	border: none;
	margin-bottom: 0;
	width: auto;
}
.widget_recent_comments table td {
	background: transparent;
	border: none;
	padding: .5em;
	vertical-align: middle;
}
.widget_recent_comments a {
	text-decoration: none;
}
.widget_twitter ul {
	padding: 0;
	margin: 0 0 1em;
}
.widget_twitter li {
	margin: 1em 0 0;
	list-style: none;
}
#vodpod_recent_videos {
	margin: 0 auto;
}
#wpstats {
	display: block;
	margin: 0 auto 10px;
	width: 6px;
	height: 5px;
}li.share-print a.sd-button > spandiv.sharedaddy ul,
div.sharedaddy li {
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
	background: none;
}

div.sharedaddy,
#content div.sharedaddy,
#main div.sharedaddy {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	clear: both;
}

div.sharedaddy,
div.sharedaddy div {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

div.sharedaddy h3,
#content div.sharedaddy h3,
#main div.sharedaddy h3,
#primary div.sharedaddy h3 {
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 3px 0;
	padding: 0;
	text-transform: none;
	letter-spacing: 0;
	line-height: 1;
	font-weight: bold;
	width: 15.625%; /* 100px / 640px */ float: left;
	position: static;
	background: none;
	border: none;
}

/* @noflip */
.rtl div.sharedaddy h3,
.rtl #content div.sharedaddy h3,
.rtl #main div.sharedaddy h3,
.rtl #primary div.sharedaddy h3 {
	float: right;
	text-align: right;
}

div.sharedaddy ul,
div.sharedaddy li {
	margin: 0 !important;
	padding: 0 !important;
	text-indent: 0;
}

div.sharedaddy li::before {
	content: "";
}

div.sharedaddy div.pd-rating {
	margin: 0;
	min-height: 23px;
}

div.sharedaddy a,
div.sharedaddy a:link,
div.sharedaddy a:visited {
	font-style: normal;
}

/* ClearFix trick */

div.sharedaddy:before,
div.sharedaddy:after,
div.sharedaddy .sd-block:before,
div.sharedaddy .sd-block:after,
div.sharedaddy ul:before,
div.sharedaddy ul:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}

div.sharedaddy:after,
div.sharedaddy .sd-block:after,
div.sharedaddy ul:after {
	clear: both;
}

div.sharedaddy,
div.sharedaddy .sd-block,
div.sharedaddy ul {
	zoom: 1;
}


/* =Base Styles
-------------------------------------------------------------- */

div.sharedaddy div.sd-block {
	border-top: 1px solid #ddd;
	border-top: 1px solid rgba(0,0,0,.13);
	padding: 10px 0 5px;
	margin: 0;
	width: 100% !important;
}

div.sharedaddy.sharedaddy-dark .sd-block {
	border-top-color: #222;
	border-top-color: rgba(50,50,50,.5);
}

div.sharedaddy .sd-content {
	width: 82.125%; /* 530px / 640px */
	float: right;
	margin: -2px 0 0 0;
}

div.sharedaddy .sd-content ul {
	margin: 0;
}

div.sharedaddy .sd-content li {
	float: left;
	margin: 0 5px 5px 0 !important;
	display: block;
}

/* @noflip */
.rtl div.sharedaddy .sd-content {
	float: right;
}

/* @noflip */
.rtl div.sharedaddy .sd-content li {
	float: right;
	margin: 0 0 5px 5px !important;
}

/* Base Button .sd-button */

div.sharedaddy a.sd-button {
	margin: 0;
	padding: 0;
	display: inline-block;
	background: #efefef;
	background: -moz-linear-gradient(top, #f7f7f7 0%, #efefef 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#efefef));
	background: -webkit-linear-gradient(top, #f7f7f7 0%,#efefef 100%);
	background: -o-linear-gradient(top, #f7f7f7 0%,#efefef 100%);
	background: -ms-linear-gradient(top, #f7f7f7 0%,#efefef 100%);
	background: linear-gradient(top, #f7f7f7 0%,#efefef 100%);
	border-radius: 3px;
	border: 1px solid #ddd !important;
	box-shadow: inset 0 1px 0 #fff;
	color: #000 !important;
	text-decoration: none;
	line-height: 1;
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
}

div.sharedaddy a.sd-button:hover {
	color: #000;
	text-shadow: 0 1px 0 #fff;
	border-color: #ccc;
	background: #eee;
	background: -moz-linear-gradient(top, #efefef 0%, #eee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#eee));
	background: -webkit-linear-gradient(top, #efefef 0%,#eee 100%);
	background: -o-linear-gradient(top, #efefef 0%,#eee 100%);
	background: -ms-linear-gradient(top, #efefef 0%,#eee 100%);
	background: linear-gradient(top, #efefef 0%,#eee 100%);
}

div.sharedaddy a.sd-button:active {
	background-color: #efefef;
	box-shadow: inset 0 -1px 0 #fff;
	border-color: #ddd;
}

a.sd-button > span {
	padding: 4px 8px;
	display: block;
	opacity: .8;
	line-height: 1.5em;
	text-shadow: none;
}

a.sd-button:hover span {
	opacity: 1;
}

.sd-button span.share-count {
	font-size: 90%;
	color: #666;
	margin-left: 5px;
	line-height: 1;
}

/* @noflip */
.rtl .sd-button span.share-count {
	margin-right: 5px;
}

/* Button Style Options */

.sd-social-icon-text a.sd-button > span,
a.sd-button > span {
	padding: 1px 5px 1px 23px;
	background-position: 2px center;
	background-repeat: no-repeat;
}

.sd-social-icon a.sd-button > span {
	padding: 3px;
	width: 16px;
	height: 16px;
	text-indent: -9999px;
	background-position: center center;
	background-repeat: no-repeat;
}

.sd-social-text a.sd-button > span {
	background: none !important;
	padding-left: 5px
}

.sd-social-official li {
	height: 21px;
}

div.sharedaddy .no-text {
	width: 21px;
	height: 21px;
}

div.sharedaddy .no-text a {
	text-decoration: none;
}

div.sharedaddy .no-icon a span, div.sharedaddy li.no-icon div a span {
	padding-left: 5px;
	background-image: none;
}

/* @noflip */
.rtl .sd-social-icon-text a.sd-button > span,
.rtl a.sd-button > span {
	padding: 3px 23px 3px 5px;
	background-position: 98% center;
}

/* @noflip */
.rtl .sd-social-text a.sd-button > span {
	padding-left: 0;
	padding-right: 5px
}

/* @noflip */
.rtl div.sharedaddy .no-icon a span, .rtl div.sharedaddy li.no-icon div a span {
	padding-left: 0;
	padding-right: 5px
}

/* Icons */

li.share-facebook a.sd-button > span {
	background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/facebook.png);
}

li.share-tumblr a.sd-button > span {
	background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/tumblr.png);
}

li.share-twitter a.sd-button > span {
	background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/twitter.png?1);
}

li.share-google-plus-1 a.sd-button > span {
	background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/googleplus1.png?1);
}

li.share-linkedin a.sd-button > span {
	background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/linkedin.png);
}

li.share-press-this a.sd-button > span {
	background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/wordpress.png);
}

li.share-digg a.sd-button > span {
	background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/digg.png);
}

li.share-stumbleupon a.sd-button > span {
	background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/stumbleupon.png);
}

li.share-reddit a.sd-button > span {
	background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/reddit.png);
}

li.share-pinterest a.sd-button > span {
	background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/pinterest.png);
}

li.share-pocket a.sd-button > span {
	background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/pocket.png);
}

li.share-kindle a.sd-button > span {
	background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/kindle.png);
}

li.share-email a.sd-button > span {
	background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/email.png);
}

li.share-print a.sd-button > span {
	background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/print.png);
}

a.sd-button.share-more span {
	background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/more.png);
}

@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 120dpi) {

	li.share-facebook a.sd-button > span {
		background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/facebook@2x.png);
		background-size: 16px 16px;
	}

	li.share-tumblr a.sd-button > span {
		background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/tumblr@2x.png);
		background-size: 16px 16px;
	}

	li.share-twitter a.sd-button > span {
		background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/twitter@2x.png?1);
		background-size: 16px 16px;
	}

	li.share-google-plus-1 a.sd-button > span {
		background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/googleplus1@2x.png);
		background-size: 16px 16px;
	}

	li.share-linkedin a.sd-button > span {
		background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/linkedin@2x.png);
		background-size: 16px 16px;
	}

	li.share-press-this a.sd-button > span {
		background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/wordpress@2x.png);
		background-size: 16px 16px;
	}

	li.share-digg a.sd-button > span {
		background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/digg@2x.png?1);
		background-size: 16px 16px;
	}

	li.share-stumbleupon a.sd-button > span {
		background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/stumbleupon@2x.png);
		background-size: 16px 16px;
	}

	li.share-reddit a.sd-button > span {
		background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/reddit@2x.png);
		background-size: 16px 16px;
	}

	li.share-pinterest a.sd-button > span {
		background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/pinterest@2x.png);
		background-size: 16px 16px;
	}

	li.share-pocket a.sd-button > span {
		background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/pocket@2x.png);
		background-size: 16px 16px;
	}

	li.share-kindle a.sd-button > span {
		background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/kindle@2x.png);
		background-size: 16px 16px;
	}

	li.share-email a.sd-button > span {
		background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/email@2x.png?1);
		background-size: 16px 16px;
	}

	li.share-print a.sd-button > span {
		background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/print@2x.png);
		background-size: 16px 16px;
	}

	a.sd-button.share-more span {
		background-image: url(/wp-content/mu-plugins/post-flair/sharing/images/more@2x.png?1);
		background-size: 16px 16px;
	}

}

/* More pannel */

div.sharedaddy .sharing-hidden .inner {
	max-width: 250px;
	padding: 15px 15px 10px;
	position: absolute;
	margin-left: -100px;
	z-index: 1001;
	background-color: #fff;
	border: 1px solid #ccc;
	-moz-border-radius: 3px !important;
	-webkit-border-radius: 3px !important;
	border-radius: 3px !important;
	-moz-box-shadow: 0px 2px 8px #ccc;
	-webkit-box-shadow: 0px 2px 8px #ccc;
	box-shadow: 0px 2px 8px #ccc;
	-webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, .2);
	box-shadow: 0px 2px 8px rgba(0, 0, 0, .2);
}

/* @noflip */
.rtl div.sharedaddy .sharing-hidden .inner {
	margin-left: 0;
	margin-right: -100px;
}

div.sharedaddy.sharedaddy-dark .sharing-hidden .inner {
	border-color: #222;
}

/* =Sharing: Email Dialog
-------------------------------------------------------------- */

#sharing_email {
	width: 312px;
	padding: 15px;
	position: absolute;
	margin-left: -120px;
	z-index: 1001;
	background-color: #fff;
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0px 2px 8px #ccc;
	-webkit-box-shadow: 0px 2px 8px #ccc;
	box-shadow: 0px 2px 8px #ccc;
	-webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, .2);
	box-shadow: 0px 2px 8px rgba(0, 0, 0, .2);
	text-align: left;
}

div.sharedaddy.sharedaddy-dark #sharing_email {
	border-color: #fff;
}

#sharing_email .errors {
	color: #fff;
	background-color: #771a09;
	font-size: 11px;
	padding: 5px 8px;
	line-height: 11px;
	margin: 10px 0 0 0;
}

#sharing_email label {
	font-size: 11px;
	color: #333;
	font-weight: bold;
	display: block;
	padding: 0 0 4px 0;
	text-align: left;
	text-shadow: none;
}

#sharing_email input[type="text"] {
	width: 98.5%;
	margin-bottom: 12px;
	border: 1px solid #ccc;
	background: #fff;
	color: #333;
}

#sharing_email .sharing_cancel {
	padding: 0 0 0 10px;
	font-size: 11px;
	text-shadow: none;
}

#sharing_email .recaptcha {
	width: 312px;
	height: 123px;
	margin: 10px 0 14px 0;
}

/* =RTL
-------------------------------------------------------------- */
/* @noflip */
body.rtl .sharing ul {
	float: right;
}

/* @noflip */
body.rtl .sharing li {
	margin: 0 0 0 10px !important;
}

/* @noflip */
.rtl #sharing_email {
	margin-left: -0px;
	margin-right: -120px;
	text-align: right
}

/* @noflip */
.rtl #sharing_email label {
	text-align: right
}

/* @noflip */
.rtl #sharing_email .sharing_cancel {
	padding: 0 10px 0 0;
}
/*
	Global styles for WordPress.com
*/
img.latex {
	border: none;
	vertical-align: middle;
}
.video-player {
	border: 0;
	margin: auto;
	padding: 5px;
	text-align: center;
}
.wpvidavee_title {
	font-family: Tahoma,Arial,sans-serif;
	font-size: 10px;
	font-weight: bold;
	line-height: 12px;
	padding: 2px 5px;
	text-align: left;
}
.wpvidavee_footer {
	font-family: Tahoma,Arial,sans-serif;
	font-size: 9px;
	line-height: 11px;
	padding: 2px 5px;
	text-align: right;
}
.wpvidavee_footer a {
	text-decoration: none;
}
.wpvidavee_p {
	color: red;
}
.hidden {
	display: none;
}
.possibly-related {
	clear: both;
}
.screen-reader-text {
	position: absolute;
	left: -1000em;
}
.comment object,
.comment embed,
.embed-vimeo iframe,
.embed-youtube iframe {
	max-width: 100%; /* avoid videos being too wide */
}

/**
 * Simple Homepage Experiment
 */

.simple-homepage-experiment #header,
.simple-homepage-experiment #footer,
.simple-homepage-experiment #landingpage {
	display: none !important;
}
.simple-homepage-experiment .simple-homepage {
	display: block !important;
}

.simple-homepage-experiment .simple-homepage {
	background: #f5f5f5;
}

/**
 * Typography
 */

.simple-homepage-experiment body,
.simple-homepage-experiment td,
.simple-homepage-experiment p,
.simple-homepage-experiment div,
.simple-homepage-experiment input,
.simple-homepage-experiment label {
	font-family: "Open Sans", "Helvetica", sans-serif !important;
	font-size: 14px;
	line-height: 1.5;
	outline: none;
}

.simple-homepage-experiment input[type=checkbox] {
	margin: 0;
}

.simple-homepage-experiment h2,
.simple-homepage-experiment h3 {
	text-align: center;
}

.simple-homepage-experiment h2 {
	font-family: "Open Sans", "Helvetica", sans-serif !important;
	font-size: 18px !important;
	color: #464646;

	margin-bottom: 16px;
}

.simple-homepage-experiment h3 {
	color: #898989;
	font-size: 14px !important;
	text-transform: none !important;
	letter-spacing: 0 !important;
}

.simple-homepage-experiment a {
	color: #1e8cbe;
	text-decoration: none;
}

.simple-homepage-experiment a:hover {
	color: #005684;
}

/**
 * Layout
 */

body.simple-homepage-experiment {
	background: #f1f1f1;
}

body.simple-homepage-experiment#h4home #lang-guess {
	margin-top: 85px;
	padding: 15px;

	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

.simple-homepage {
	display: none;
}

body.simple-homepage-experiment .simple-homepage {
	display: block;
}

.simple-homepage-experiment h1 {
	margin: 50px auto 50px auto;
	padding-left: 85px;
	height: 75px;
	width: 305px;
	color: #737373;

	font-size: 43px !important;
	font-weight: 100;
	line-height: 75px;
	text-shadow: 0 1px 0 #fff;

	background: transparent url(/wp-content/themes/h4/i/simple-homepage/wp-logo-1x.png) no-repeat !important;
}

.simple-homepage-experiment .content {
	max-width: 910px;
	margin: auto;
}

.simple-homepage-experiment .box {
	background: #fff;
	width: 43.4065934%;
	height: 280px;
	padding: 35px;
	float: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;

	-moz-box-shadow:    0px 2px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
	box-shadow:         0px 2px 3px rgba(0,0,0,0.2);
}

.simple-homepage-experiment .box:hover {
	-moz-box-shadow:    0px 2px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
	box-shadow:         0px 2px 5px rgba(0,0,0,0.3);

}

.simple-homepage-experiment .or {
	width: 45px;
	height: 45px;
	margin: 100px 20px;

	float: left;

	color: rgba( 0, 0, 0, 0.2);
	text-shadow: 0 1px 1px #f1f1f1, 0 0 0 #aaa,
				 0 4px 1px #f1f1f1;

	font-size: 14px;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: 45px;
	text-align: center;
	text-transform: uppercase;

	border-radius: 50%;
	border: 8px rgba( 0, 0, 0, 0.1 ) solid;
}

.simple-homepage-experiment .sign-up {
	text-align: center;
}

.simple-homepage-experiment .big-ass-blue-button {
	margin: 20px auto;
	padding: 12px 40px;

	display: inline-block;

	color: #fff !important;
	font-size: 24px;
	text-decoration: none;
	text-shadow:  0px -1px 1px rgba(0,0,0,0.32);

	border-radius: 4px;

	background-color: #0aa1ce;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(10, 161, 206)), to(rgb(0, 136, 181)));
	background-image: -webkit-linear-gradient(top, rgb(10, 161, 206), rgb(0, 136, 181));
	background-image: -moz-linear-gradient(top, rgb(10, 161, 206), rgb(0, 136, 181));
	background-image: -o-linear-gradient(top, rgb(10, 161, 206), rgb(0, 136, 181));
	background-image: -ms-linear-gradient(top, rgb(10, 161, 206), rgb(0, 136, 181));
	background-image: linear-gradient(top, rgb(10, 161, 206), rgb(0, 136, 181));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#0aa1ce', EndColorStr='#0088b5');

	border: 1px solid #0088b5;

	box-shadow:	inset 0px 1px 1px rgba(255,254,254,0.5),
				0 1px 1px rgba(0,0,0,0.3);
}

.simple-homepage-experiment .big-ass-blue-button:hover {
	color: #fff;

	background-color: #4eb5d5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(78, 181, 213)), to(rgb(0, 136, 181)));
	background-image: -webkit-linear-gradient(top, rgb(78, 181, 213), rgb(0, 136, 181));
	background-image: -moz-linear-gradient(top, rgb(78, 181, 213), rgb(0, 136, 181));
	background-image: -o-linear-gradient(top, rgb(78, 181, 213), rgb(0, 136, 181));
	background-image: -ms-linear-gradient(top, rgb(78, 181, 213), rgb(0, 136, 181));
	background-image: linear-gradient(top, rgb(78, 181, 213), rgb(0, 136, 181));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#4eb5d5', EndColorStr='#0088b5');
}

.simple-homepage-experiment .big-ass-blue-button:active {
	background: #0aa1ce;
	box-shadow:	inset 0px -1px 1px rgba(255,254,254,0.2);
}

.simple-homepage-experiment .login input[type=text],
.simple-homepage-experiment .login input[type=password] {
	display: block;
	width: 90%;
	margin: 0 0 10px 0;
	padding: 10px 15px 10px 35px;

	color: #898989;
	font-size: 14px;
	font-weight: 200;

	border-radius: 3px;

	background: #FCFCFC url(/wp-content/themes/h4/i/simple-homepage/login-sprite-1x.png) no-repeat;

	border: 1px solid #BFBFBF;

	-moz-box-shadow:    inset 0px 1px 3px rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0px 1px 3px rgba(0,0,0,0.15);
	box-shadow:         inset 0px 1px 3px rgba(0,0,0,0.15);
}

.simple-homepage-experiment .login input:focus {
	background: #fff url(/wp-content/themes/h4/i/simple-homepage/login-sprite-1x.png) no-repeat;
	color: #444;
	border: 1px #aaa solid;
}

.simple-homepage-experiment .login input[type=text] {
	background-position: -3px -3px;
}

.simple-homepage-experiment .login input[type=password] {
	background-position: -3px -57px;
}

.simple-homepage-experiment#h4home #wrapper button.login-button {
	float: right !important;
	padding: 5px 20px !important;
	margin: 20px 0 !important;
	border-radius: 3px !important;
	border: 1px #bbb solid !important;

	color: #464646 !important;
	font-size: 15px !important;
	line-height: 1.6 !important;
	text-transform: none !important;
	letter-spacing: 0 !important;

	text-shadow:         0px 1px 1px #fff !important;
	box-shadow:	inset 0px 1px 1px rgba(255,254,254,0.8),
				0 1px 2px rgba(0,0,0,0.1)  !important;

	background-color: #eaeaea !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(234, 234, 234)), to(rgb(201, 201, 201))) !important;
	background-image: -webkit-linear-gradient(top, rgb(234, 234, 234), rgb(201, 201, 201)) !important;
	background-image: -moz-linear-gradient(top, rgb(234, 234, 234), rgb(201, 201, 201)) !important;
	background-image: -o-linear-gradient(top, rgb(234, 234, 234), rgb(201, 201, 201)) !important;
	background-image: -ms-linear-gradient(top, rgb(234, 234, 234), rgb(201, 201, 201)) !important;
	background-image: linear-gradient(top, rgb(234, 234, 234), rgb(201, 201, 201)) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#eaeaea', EndColorStr='#c9c9c9')  !important;
}

.simple-homepage-experiment#h4home #wrapper .login-button:hover {
	background-color: #fcfcfc !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(252, 252, 252)), to(rgb(202, 202, 202))) !important;
	background-image: -webkit-linear-gradient(top, rgb(252, 252, 252), rgb(202, 202, 202)) !important;
	background-image: -moz-linear-gradient(top, rgb(252, 252, 252), rgb(202, 202, 202)) !important;
	background-image: -o-linear-gradient(top, rgb(252, 252, 252), rgb(202, 202, 202)) !important;
	background-image: -ms-linear-gradient(top, rgb(252, 252, 252), rgb(202, 202, 202)) !important;
	background-image: linear-gradient(top, rgb(252, 252, 252), rgb(202, 202, 202)) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fcfcfc', EndColorStr='#cacaca') !important;
}

.simple-homepage-experiment#h4home #wrapper .login-button:active {
	background: #eaeaea  !important;
	box-shadow: 0 -1px 1px rgba(255,255,255,0.8)  !important;
}

.simple-homepage-experiment .forgot-password {
	display: block;
	margin: 17px 0 4px 0;

	float: left;
	clear: left;

	font-size: 12px;
}

.simple-homepage-experiment .remember-me {
	float: left;
	clear: left;
	margin: 0;
}

.simple-homepage-experiment .remember-me label {
	font-size: 12px;
	color: #1e8cbe;
}

.simple-homepage-experiment .remember-me label:hover {
	color: #005684;
}

.simple-homepage-experiment .footer {
	position: fixed;
		bottom: 20px;
		right: 0;
		left: 0;
	color: #898989;

	font-size: 11px;
	clear: both;
	text-align: center;
}

.simple-homepage-experiment .footer .automattic {
	margin: 0 3px;
	width: 127px;
	height: 13px;

	background: url(/wp-content/themes/h4/i/simple-homepage/automattic-1x.png) no-repeat;
	text-indent: -999999px;
	display: inline-block;
	vertical-align: text-bottom;
}

.simple-homepage-experiment .clear {
	clear: both;
}

/**
 * Retina CSS
 */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 144dpi) {

	.simple-homepage-experiment h1 {
		background: transparent url(/wp-content/themes/h4/i/simple-homepage/wp-logo-2x.png) no-repeat !important;
		background-size: 74px 74px;
	}

	.simple-homepage-experiment .footer .automattic {
		background: url(/wp-content/themes/h4/i/simple-homepage/automattic-2x.png) no-repeat;
		background-size: 127px 11px;
	}

	.simple-homepage-experiment .login input[type=text],
	.simple-homepage-experiment .login input[type=password] {
		background: #FCFCFC url(/wp-content/themes/h4/i/simple-homepage/login-sprite-2x.png) no-repeat;
		background-size: 40px 96px;
	}

	.simple-homepage-experiment .login input:focus {
		background: #fff url(/wp-content/themes/h4/i/simple-homepage/login-sprite-2x.png) no-repeat;
		background-size: 40px 96px;
	}

}

/**
 * Responsive CSS
 */

@media screen and (max-width: 800px) {

	.simple-homepage-experiment .or {
		clear: both;
		float: none;
		margin: 20px auto;
	}

	.simple-homepage-experiment .box {
		clear: both;
		margin: auto 20px;
		float: none;
		width: auto;
	}

	.simple-homepage-experiment .login {
		margin-bottom: 30px;
	}

	.simple-homepage-experiment .footer {
		position: relative;
		padding-top: 30px;
	}
}

@media screen and (max-height: 580px) {

	.simple-homepage-experiment .footer {
		position: relative;
		padding-top: 30px;
		margin-top: 50px;
	}
}