@media (max-width:959px){
img, object{max-width:100%;}
#wrap{width:95%;}
ul.dropdown{width:90%;}
#header{width:100%;height:auto;}
#header-left{width:40%;text-align:center;}
#header-right{width:50%;text-align:center;margin:5px;}
#container{width:100%;}
#contents{width:98%;}
#contents-left{width:20%;}
#contents-right{width:78%;}
#footer{width:100%;}
.video embed{width:100%;height:auto;min-height:200px;}
#contentimage{height:auto;width:100%;}
.picnav img{width:20%;}
#ads{width:100%;}
#topads-left{width:100%;padding:0px;}
#topads-right{width:100%;padding:0px;}
}
@media (max-width:800px){
#contents-left{width:20%;}
#contents-right{width:77%;}
.video embed{width:100%;height:auto;min-height:200px;}
#contentimage{height:auto;width:100%;}
.picnav img{width:20%;}
#sidebarright{width:100%;}
#sidebarright .box{width:32%;float:left;margin-right:5px}
#search-box{
	width:65%;
}
}
@media (max-width:768px){
#contents-left{width:22%;}
#contents-right{width:75%;}	
ul.dropdown{width:90%;}
#header{width:100%;height:auto;}
.video embed{width:100%;height:auto;min-height:200px;}
#contentimage{height:auto;width:100%;}
.picnav img{width:20%;}
}
@media (max-width:685px){
#contents{width:95%;}
#contents-left{width:27%;}
#contents-right{width:72%;}	
#sidebarright .box{width:31%;float:left;margin-right:5px}
#search-box{
	width:60%;
}
}
@media (max-width:600px){
#contents{width:96%;}
#contents-left{width:100%;}
#contents-right{width:100%;}	
#header{text-align:center;height:auto;}
#header .logo{text-align:center;}
#sidebarright .box{width:47%;float:left;margin-right:5px;min-height:430px;}
.video embed, .video object, .video iframe{min-height:250px;}
ul.dropdown{width:80%;}
#sidebarleft{display:none;}
#header-left{width:80%;text-align:center;margin-left:auto;margin-right:auto;float:none;height:auto;}
#header-right{width:80%;text-align:center;margin-left:auto;margin-right:auto;float:none;height:auto;margin-top:5px;}
}
@media (max-width:568px){
#container{width:98%;}
#sidebarright .box{width:48%;float:left;margin-right:5px;min-height:430px;}
#nav{float:left;background-color:#fff;height:auto;padding:0px;text-transform:capitalize;font-size:14px;text-align:center;padding-top:5px;padding-bottom:5px;}
nav ul{display:none;}
nav select{display:inline-block;width:80%;height:30px;overflow:hidden;background:#EFEFEF;float:none;font-size:14px;}
#nav span{display:none;}
}
@media (max-width:480px){
#wrap{width:92%;}
#container{width:99%;}
#contents{width:95%;}
#header-left{width:100%;}
#sidebarright .box{width:95%;float:left;min-height:280px;}
#topads-right{display:none;}
#search-box{
	width:50%;
}
#search-button{
	width:35%;
}
}
@media screen and (max-width:320px){
#container{width:97%;}
.thumb{width:95%;}
}
@media screen and (max-width:240px){
#search{display:none;}
}